@import '~node_modules/modern-normalize/modern-normalize.css';

ul { 
    list-style: none;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: $font-principal;
}

footer{
    padding-top: 50px;
    background-color: rgba(255, 245, 246, 1);
}