/* constantes dentro de las clases */
$font-logo:'Titan One', cursive;
$font-principal: 'DM Sans', sans-serif;

$body-color:#FFFFFF;
$primary-color:#D41443;
$segundary-color: #FFFFFF;

$buy-now-text-color:#D82752;
$home-text-color:#DA2A55;


$card-one-color: #FFB8CA;
$card-two-color:#F0D1A5;
$card-three-color:#C2E297;

$card-color-hover:#E7ABBA;
$about-us-color-paragraph-one:#000;
$about-us-color-paragraph-two:#907E82;
$about-us-color-title-one:#FFA5BA;
$about-us-color__button-read:#D41443;
$white:#FFFFFF;