<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ice Cream</title>
    <link rel="stylesheet" href="./sass/main.scss">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Raleway:wght@700&family=Roboto:wght@300;400;500;700&family=Titan+One&display=swap" rel="stylesheet">   
    <script type="module" src="./index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css">
</head>
<body>
    <footer>
        <section class="footer">
            <div class=" container">
              <ul class="footer__container">
                  <li class="footer__subtitles">
                    <ul class="footer__subtitles-ul">
                      <li class="footer__subtitle-one">HOMEMADE ICE CREAM MADE</li>
                      <li class="footer__subtitle-two ">WITH PASSION</li>
                    </ul>
                  </li>
                  <li class="footer__social-network">
                    <ul class="footer__social-network__img-svg">
                        <li class="">
                          <a href="" class="link">
                            <svg class="">
                              <use xlink:href="images/icons_icecream.svg#icon-icon1github__fotter"></use>
                            </svg>
                          </a>
                        </li>
                        <li class="">
                          <a href="" class="link">
                            <svg class="">
                              <use xlink:href="images/icons_icecream.svg#icon-icontelegram_fotter "></use>
                            </svg>
                          </a>
                        </li>
                        <li class="">
                          <a href="" class="link">
                            <svg class="">
                              <use xlink:href="images/icons_icecream.svg#icon-iconfacebook_fotter"></use>
                            </svg>
                          </a>
                        </li>
                    </ul>
                    <ul>
                      <li>
                        <a class="footer__social-network__contacto" href="  https://web.whatsapp.com/ "target="_blank">
                          <em class="footer__social-network__contacto-numero">  &nbsp;+ 61 (0) 383 766 284 </em> Feel free to contact 
                        </a>
                      </li>
                    </ul>
                  </li>
              </ul>
            <hr class="footer__h">
            <p class="footer__made-in">© 2022 - IceCream. All Rights Reserved.</p>
            </div>
          </section>
    </footer>
</body>
</html>