<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page title</title>
   
    <!-- <link rel="stylesheet" href="../images"> -->
    <link rel="stylesheet" href="./sass/main.scss">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Raleway:wght@700&family=Roboto:wght@300;400;500;700&family=Titan+One&display=swap" rel="stylesheet">
    <script type="module" src="./index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css">

</head>
<body>
    <header>
        <!-- edison -->
        <div class="container">

            <nav class="nav">
                <ul class="nav__list">
                    <li>
                        <a href="/">ICECREAM</a>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/">About us</a>
                    </li>
                    <li>
                        <a href="/">How it’s made?</a>
                    </li>
                    <li>
                        <a href="/">Our products</a>
                    </li>
                    <li>
                        <a href="/">Contact</a>
                    </li>
                    <li>
                        <button>buy now</button>
                    </li>
                </ul>

            </nav>

            <!-- edison -->
            <section class="hero">
                <div class="container hero__container">
                    <h2 class="hero__title">ICE CREAM MADE WITH PASSION</h2>
        
                </div>

                
                <button>products</button>
                <button>How it’s made?</button>
                <p>Indulge in a scoop of ice cream made with passion and 
                    treat your taste buds to an unforgettable experience!</p>
                <img src="./images/Leche_main_principal.png" alt="leche"> 
                 <img src="./images/Flecha_main_products.jpg" alt="flecha">
                <img src="./images/Helado_main_pricipal.png" alt="cono de helado ">
                <img src="./images/Mujer_main_principal.png" alt="mujer con helado">
                    <!-- <img src="./images/Galery_main_galery.png" alt="leche"> -->
            </section>
            
        </div>

    </header>
</body>
</html>